@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        PowerHouse Complex <br />
        Destiny Street, Chennai<br />
        <abbr title="Contact Directly">Phone:</abbr>
        909.090.9900
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">destiny@support.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">dfs@letsmeet.com</a>
    </address>
</main>